body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; /* Ensure full width */
}

#root {
  margin: 0;
  height: 100%;
  width: 100%; /* Ensure full width */
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightblue;
  padding: 0 15px;
  position: relative;
  top: 0;
  width: 100%; /* Ensure the header spans the full width */
  box-sizing: border-box; /* Include padding in the width calculation */
}

.header h1 {
  font-size: 20px;
}

.header ul {
  display: flex;
  gap: 1em;
}

.header ul li {
  list-style: none;
}
